 
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    h1 {
      text-align: center;
    }

    h2 {
      margin-top: 30px;
    }

    /* Block Example */
    .block a {
      display: block;
      background-color:#7C3AED;
      color: #2E1065;
      padding: 10px;
      text-decoration: none;
      margin-bottom: 5px;
    }

    /* Inline Example */
    .inline a {
      display: inline;
      background-color: #C084FC;
      color: #2E1065;
      padding: 5px 10px;
      text-decoration: none;
      margin-right: 5px;
    }

    /* Inline-Block Example */
    .inline-block a {
      display: inline-block;
      background-color: #C084FC;
      color: #2E1065;
      padding: 10px 15px;
      text-decoration: none;
      margin-right: 10px;
      margin-bottom: 5px;
    }

    /* Float Example */
    .float a {
      float: left;
      background-color: #C084FC;
      color: #2E1065;
      padding: 10px 15px;
      text-decoration: none;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .float::after {
      content: "";
      display: block;
      clear: both;
    }
    body {
      background-color: #b9adf9;
    }
  